:root {
    --md-primary-fg-color: #0a0a0a;
    --md-accent-fg-color: #673ab7;
    --md-typeset-color: #ffffff; 
    --md-default-bg-color: #121212;
    --md-footer-bg-color: #000000;
}

.md-typeset h1,
.md-typeset h2 {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #ffffff; 
}

.md-typeset,
.md-typeset p,
.md-typeset li {
    color: #ffffff; 
}

.md-typeset a {
    color: #9f6fff;
}

.md-header {
    background: #0d0d0d !important;
}

body {
    background: #121212;
    color: #ffffff; 
}


.md-typeset__scrollwrap, .md-typeset__table, .md-typeset table:not([class]), .typeset__table thead, .typeset__table tr, .typeset__table th{
    background-color: #000000;
}